spring:
  application:
    name: back
  profiles:
    include:
      - private  
  mvc:
    static-path-pattern: /uploads/**
  web:
    resources:
      static-locations: file:uploads/
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
  
server:
 address: 0.0.0.0
 port: 8081
 
mybatis:
  configuration:
    jdbc-type-for-null: VARCHAR
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  type-aliases-package: com.kh.pcar.back.*.model.vo, com.kh.pcar.back.*.model.dto
  mapper-locations: classpath:mapper/**/*.xml
  
  
