header {
    flex: 1;
    display: flex;
    width: 100%;
    width: 1350px;
    height: 120px;
}
/* 헤더 왼쪽 */
#header-left {
    flex: 1.5;
}
#left_1 {
    height: 100%;
    position: relative;
}
#left_1 img {
    width: 60px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
#left_1 > p {
    position: absolute;
    left: 80px;
    bottom: 0px;
    font-size: 30px;
    font-family: "Story Script", sans-serif;
    font-weight: 800;
     /* 검정-회색 그라데이션 */
    background: linear-gradient(90deg, #000000, #555555, #888888); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* 다른 브라우저 호환성 */
    background-clip: text;
    color: transparent;
}
/* 헤더 오른쪽 */
#header-list {
    height: 100%;
    position: relative;
}
#header-list ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0px;
    justify-content: space-around;
    position: absolute;
    bottom: 30px;
}
#header-list li {
    color: gray;
}
#header-list a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
    color: skyblue;

    &:hover {
        color: purple;
    }
}
#hlist-pipe {
    color: rgb(160, 187, 141);
    font-weight: 800;
}
#header-middle {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#middle-content {
    margin-top: auto;
    margin-bottom: 0px;
    text-align: center;
}
#header-right {
    flex: 2.5;
}
/* 헤더 가운데 */
#search-form {
    display: flex;
    height: 50px;
}
#search-form input,
select,
button {
    height: 50px; /* 통일된 높이 */
    font-size: 16px; /* 글자 크기도 통일 */
    padding: 0 10px; /* 좌우 여백 */
    border: 1px solid #ccc;
    box-sizing: border-box; /* padding+border 포함해서 계산 */
    vertical-align: middle;
}

#search-location input[type="text"] {
    width: 300px;
    padding: 0;
    border-radius: 10px 0px 0px 10px;
    padding-left: 15px;
}
#summbit-btn button {
    width: 70px;
}

#btn-image img {
    width: 15px;
    height: 15px;
}
#summbit-btn button {
    background-color: rgb(220, 245, 235);
}
