
#nav-div {
    width: 100%;
    height: 100%;
}
#nav-ul {
    display: flex;
    padding: 0;
    margin: 0; /* 기본 ul 마진 제거 */
    height: 100%;
    align-items: center; /* 세로 중앙 정렬 */
}

#nav-ul > li {
    list-style: none;
    height: 100%;
    padding: 0 25px; /* 좌우 여백 */
    display: flex;
    align-items: center; /* li 안 텍스트 중앙 정렬 */
}

#nav-ul > li > a {
    text-decoration: none;
    color: black;
    &:hover {
        color: steelblue;
    }
}
