 #footer_1,#footer_2 {
                width: 100%;
            }
            #footer_1 {
                height: 20%;
                background-color: cornflowerblue;
            }
            #footer_2 {
                height: 80%;
            }
            /* footer_1의 자식요소 a태그만 선택*/
            #footer_1 > a {
                color: rgb(0, 0, 0);
                text-decoration: none;
                margin: 33px;
                vertical-align: middle;

                &:hover {
                    color: red;
                }
            }
            /* p 태그에 대한 세부스타일 설정 */
            #footer_2 > p {
                width: 100%;
                margin: 0;
            }
            #p_1{
                height: 80%;
                font-size: 14px;
                padding-top: 5px ;
                padding-left: 4px;
                background-color: chartreuse;
                
            }
            #p_2{
                height: 20%;
                font-size: 12px;
                padding-left: 4px;
                background-color: rgb(207, 205, 73);
            }