#navbar {
    /* ul요소는 margin / 왼쪽에 padding이 존재해서 다 없애기!!*/
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    /*display : flex;*/
    height: 40px;
}

#navbar > li {
    height: 100%;
    float: left;
    width: 16%;
    text-align: center;
}
#navbar a {
    text-decoration: none;
    color: #485ba5;
    font-family: 궁서체;
    font-weight: 900;
    width: 100%;
    height: 100%;
    /* a태그 인라인 요소라서 가로세로 안먹음 */
    display: block;
    line-height: 40px;
    position: relative;
    transform: scale(1);
}

/* 평소에는 안보이다가 커서가 올라가면 펼쳐지게 1 */
#navbar > li > ul {
    list-style: none;
    padding: 0px;
    display: none;
    border: 1px solid skyblue;
    border-radius: 15px;
}

/* 평소에는 안보이다가 커서가 올라가면 펼쳐지게 2 */
#navbar > li > a:hover + ul {
    display: block;
}

/* 평소에는 안보이다가 커서가 올라가면 펼처지게 3*/
#navbar > li > ul:hover {
    display: block;
}

#navbar a:hover {
    font-size: 17px;
}

#navbar > li > ul a:hover {
    background: lemonchiffon;
    font-size: 14px;
    border-radius: 15px;
}
